docs/n8n/workflows/v2-webhook-uazapi-proxy.json
{
  "name": "WhatsApp UAZAPI → Supabase (Proxy)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-uazapi",
      "name": "Webhook UAZAPI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "whatsapp-uazapi-webhook"
    },
    {
      "parameters": {
        "url": "https://sbnpmhmvcspwcyjhftlw.supabase.co/functions/v1/process-whatsapp-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNibnBtaG12Y3Nwd2N5amhmdGx3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyOTYyMTI0NSwiZXhwIjoyMDQ1MTk3MjQ1fQ.vxQpfJZKzXYPdP-5Kp9Qb0Jz-Vu0sBvMOCkXRZqCTgI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "http-request-supabase",
      "name": "Chamar Supabase Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Responder ao UAZAPI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook UAZAPI": {
      "main": [
        [
          {
            "node": "Chamar Supabase Edge Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Supabase Edge Function": {
      "main": [
        [
          {
            "node": "Responder ao UAZAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-13T15:45:00.000Z",
  "versionId": "1"
}
