docs/n8n/workflow_retry_failed_reminders.json
{
  "name": "Retry Failed Bill Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "name": "Schedule Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "retry-schedule",
      "notes": "Executa a cada 30 minutos para tentar reenviar lembretes que falharam"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  br.id as reminder_id,\n  br.bill_id,\n  br.user_id,\n  br.days_before,\n  br.channel,\n  br.retry_count,\n  br.error_message,\n  u.phone as user_phone,\n  u.email as user_email,\n  u.full_name as user_name,\n  u.push_token,\n  pb.description,\n  pb.amount,\n  pb.due_date,\n  pb.provider_name\nFROM bill_reminders br\nINNER JOIN users u ON br.user_id = u.id\nINNER JOIN payable_bills pb ON br.bill_id = pb.id\nWHERE br.status = 'failed'\n  AND br.retry_count < 3\n  AND br.reminder_date = CURRENT_DATE\n  AND pb.status NOT IN ('paid', 'cancelled')\nORDER BY br.retry_count, br.updated_at\nLIMIT 20;"
      },
      "name": "Query Failed Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "query-failed",
      "credentials": {
        "postgres": {
          "id": "supabase_db",
          "name": "Supabase Database"
        }
      },
      "notes": "Busca lembretes que falharam e ainda podem ser retentados (max 3 tentativas)"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.reminder_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "check-has-failed"
    },
    {
      "parameters": {},
      "name": "No Retries Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 450],
      "id": "no-retries"
    },
    {
      "parameters": {
        "jsCode": "// Exponential backoff: aguardar mais tempo a cada retry\nconst retryCount = $input.item.json.retry_count;\nconst minutesSinceLastRetry = Math.floor((new Date() - new Date($input.item.json.updated_at)) / 60000);\n\n// Backoff schedule:\n// Retry 1: aguardar 10 min\n// Retry 2: aguardar 30 min\n// Retry 3: aguardar 60 min\nconst backoffMinutes = retryCount === 0 ? 10 : retryCount === 1 ? 30 : 60;\n\nconst shouldRetry = minutesSinceLastRetry >= backoffMinutes;\n\nreturn {\n  json: {\n    ...$input.item.json,\n    should_retry: shouldRetry,\n    backoff_minutes: backoffMinutes,\n    minutes_since_retry: minutesSinceLastRetry\n  }\n};"
      },
      "name": "Check Backoff Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 150],
      "id": "check-backoff",
      "notes": "Exponential backoff: não tenta imediatamente, aguarda tempo progressivo"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_retry }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Should Retry Now?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 150],
      "id": "should-retry-now"
    },
    {
      "parameters": {},
      "name": "Wait More",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "wait-more",
      "notes": "Ainda não chegou o tempo de tentar novamente"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "context_time",
              "value": "={{ $json.days_before === 1 ? 'Amanhã (' + new Date($json.due_date).toLocaleDateString('pt-BR') + ')' : 'HOJE' }}"
            },
            {
              "name": "urgency",
              "value": "={{ $json.days_before === 1 ? '⏰ Não esqueça!' : '⚠️ Vence hoje!' }}"
            },
            {
              "name": "formatted_amount",
              "value": "={{ new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format($json.amount) }}"
            },
            {
              "name": "formatted_due_date",
              "value": "={{ new Date($json.due_date).toLocaleDateString('pt-BR') }}"
            },
            {
              "name": "whatsapp_message",
              "value": "=━━━━━━━━━━━━━━━━━━━\n🔔 *Lembrete Ana Clara*\n\nOlá {{ $json.user_name }}! 👋\n\n{{ $node[\"Format Retry Message\"].json[\"context_time\"] }} você tem uma conta a pagar:\n\n📄 *{{ $json.description }}*\n💰 Valor: {{ $node[\"Format Retry Message\"].json[\"formatted_amount\"] }}\n📅 Vencimento: {{ $node[\"Format Retry Message\"].json[\"formatted_due_date\"] }}\n{{ $json.provider_name ? '🏢 Fornecedor: ' + $json.provider_name : '' }}\n\n{{ $node[\"Format Retry Message\"].json[\"urgency\"] }}\n\n━━━━━━━━━━━━━━━━━━━\n💡 Responda \"pago\" para marcar como paga\n━━━━━━━━━━━━━━━━━━━"
            }
          ]
        }
      },
      "name": "Format Retry Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1250, 100],
      "id": "format-retry"
    },
    {
      "parameters": {
        "url": "={{ $env.UAZAPI_BASE_URL }}/v1/instance/{{ $env.UAZAPI_INSTANCE_ID }}/messages/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $env.UAZAPI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.user_phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.whatsapp_message }}"
            },
            {
              "name": "isGroup",
              "value": "false"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "name": "Retry Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 100],
      "id": "retry-send"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE bill_reminders\nSET status = 'sent',\n    sent_at = now(),\n    metadata = metadata || jsonb_build_object('retry_successful', true, 'message_id', '{{ $json.messageId }}')\nWHERE id = '{{ $node[\"Query Failed Reminders\"].json[\"reminder_id\"] }}'\nRETURNING *;"
      },
      "name": "Update Retry Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1650, 100],
      "id": "update-retry-success",
      "credentials": {
        "postgres": {
          "id": "supabase_db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE bill_reminders\nSET retry_count = retry_count + 1,\n    error_message = '{{ $json.error ? $json.error.message : \"Retry failed\" }}',\n    status = CASE WHEN retry_count + 1 >= 3 THEN 'failed' ELSE 'failed' END,\n    metadata = metadata || jsonb_build_object('retry_failed', true, 'last_retry_at', '{{ new Date().toISOString() }}')\nWHERE id = '{{ $node[\"Query Failed Reminders\"].json[\"reminder_id\"] }}'\nRETURNING *;"
      },
      "name": "Update Retry Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1650, 300],
      "id": "update-retry-failed",
      "credentials": {
        "postgres": {
          "id": "supabase_db",
          "name": "Supabase Database"
        }
      }
    }
  ],
  "connections": {
    "Schedule Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Query Failed Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Failed Reminders": {
      "main": [
        [
          {
            "node": "Has Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Failed?": {
      "main": [
        [
          {
            "node": "Check Backoff Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Retries Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Backoff Time": {
      "main": [
        [
          {
            "node": "Should Retry Now?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry Now?": {
      "main": [
        [
          {
            "node": "Format Retry Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait More",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Retry Message": {
      "main": [
        [
          {
            "node": "Retry Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Send WhatsApp": {
      "main": [
        [
          {
            "node": "Update Retry Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0",
  "meta": {
    "instanceId": "personal-finance-la"
  },
  "tags": ["lembretes", "retry", "whatsapp"]
}
